.wrapper {
    position: relative;
    width: 100%;
    max-width: 1510px;
    overflow: hidden;
    background-color: aqua;
}

.logo_contacts {
    width: 100%;
    max-width: 1510px;
    background-color: white;
    position: relative;
    height: 175px;
}
.contacts {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 1510px;
    height: 50px;
    color: black;
}
.contacts_text {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 18px;
    padding-right: 50px;
    padding-top: 50px;
    
}

.menu_tab {
    display: table;
    width: 45%;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 18px;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-right: 150px;
}

.it {
    display: table-cell;
    text-align: center;
}
.line {
    text-decoration: none;
    color: #000000;
}
    
a.line:hover {
        border-top: 2px solid black;
        transition-property: all;
        transition-duration: 200ms;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(-45deg);
    position: relative;
    margin-left: 125px;
    margin-top: 135px;
    
}

.logo_logo {
font-family: 'Puritan', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 32px;
font-size: 24px;
letter-spacing: 0.1em;
    color: black;
    
}
.romb {
    width: 250px;
    height: 250px;
    background: #BA9898;
    transform: rotate(45deg);
    margin-top: -150px;
    margin-left: 65px;
    position: absolute;
}

.container_yaziki {
    width: 100%;
    max-width: 1510px;
    background-color: yellow;
}
a {
    color: #000000;
}

.romb_norv {
    position: relative;
    width: 180px;
    height: 180px;
    transform: rotate(45deg);
    background-color: #BACBDC;
    border: 3px solid #000000;

}
.text_yaziki_romb {
    position: absolute;

    transform: rotate(-45deg);
    font-family: Ubuntu;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;
text-align: center;
text-transform: uppercase;
margin-top: 25px;
    margin-left: 25px;

color: #FFFFFF;
}
.romb_islan {
    position: relative;
    width: 180px;
    height: 180px;
    transform: rotate(45deg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 500px;
    top: -100px;
}
.foto_islan {
    position: relative;
    transform: rotate(-45deg);
}

.romb_shved {
    position: relative;
    width: 180px;
    height: 180px;
    transform: rotate(45deg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 650px;
    top: -100px;
}
.foto_shved {
    position: relative;
    transform: rotate(-45deg);
}
.romb_fin {
    position: relative;
    width: 180px;
    height: 180px;
    transform: rotate(45deg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 800px;
    top: -465px;
}
.foto_fin {
    position: relative;
    transform: rotate(-45deg);
}
.romb_dat {
    position: relative;
    width: 180px;
    height: 180px;
    transform: rotate(45deg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 1150px;
    top: -650px;
}
.foto_dat {
    position: relative;
    transform: rotate(-45deg);
}
.romb_bordo {
    top: 200px;
    left: 700px;
    position: absolute;
    width: 47px;
    height: 47px;
    transform: rotate(45deg);
    background-color: #432132;
}
.romb_setyi {
    top: 200px;
    left: 1000px;
    position: absolute;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    background-color: #435465;
}
.romb_white {
    width: 37px;
    height: 37px;
    transform: rotate(0deg);
    background-color: white;
}
.romb_siniy {
    width: 27px;
    height: 27px;
    transform: rotate(0deg);
    background-color: #112132;
}
.container_yrovni {
    width: 100%;
    max-width: 1510px;
    background-color: magenta;
}
.tex_yrovni {
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 14px;
text-align: center;
text-transform: uppercase;
color: #000000;
padding: 20px;

}
.flex_yrovni {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;

}
.yrovni {
display: flex;
justify-content: center;
align-items: center;
width: 450px;
height: 180px;
background-color: rgba(0, 0, 0, 0.5);
color: white;
font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 14px;
margin-left: 10px;
margin-right: 10px;
margin-top: 20px;
margin-bottom: 20px;
}
.container_raspisanie {
    width: 100%;
    max-width: 1510px;
    
    background-color:#112132;
 }
.tex_raspisanie {
        font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;
text-align: center;
text-transform: uppercase;
color: white;
padding: 20px;
}
.flex_raspisanie {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    
}
.raspisanie {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 452px;
height: 266px;
background: #C4C4C4;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 14px;
text-align: center;
margin-left: 10px;
margin-right: 10px;
margin-top: 25px;
margin-bottom: 30px;

}

.flex_zapis1 {
    display: flex;
color: white;
}
.footer {
    width: 100%;
    max-width: 1510px;
    max-height: 373px;
    height: 373px;
    background-color: #778798;
 }
 
.romb_footer {
    width: 197px;
    height: 197px;
    transform: rotate(45deg);
    background-color: #BA9898;
} 

 

@media (max-width: 1600px) and (min-width: 1450px) {
    .yrovni {width: 450px;}
    .raspisanie {width: 450px;}
}

@media (max-width: 1450px) and (min-width: 1300px) {
    .yrovni {width: 400px;}
    .raspisanie {width: 400px;}
}

@media (max-width: 1300px) and (min-width: 1200px) {
    .yrovni {width: 350px;}
    .raspisanie {width: 350px;}

}
@media (max-width: 1200px) and (min-width: 1000px) {
    .yrovni {width: 300px;}
    .raspisanie {width: 300px;}
}

@media (max-width: 1000px) and (min-width: 850px) {
    .yrovni {width: 400px;}
    .raspisanie {width: 400px;}
} 

@media (max-width: 850px) and (min-width: 700px) {
    .yrovni {width: 650px;}
    .raspisanie {width: 650px;}
} 
@media (max-width: 700px) and (min-width: 600px) {
    .yrovni {width: 550px;}
    .raspisanie {width: 550px;}
} 