@font-face {
    font-family: Ubuntu;
    src: url(fonts/Ubuntu.ttf);
}

.wrapper {
    width: 100%;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red
}

.contacts {
    display: flex;
    color: black;
    background-color: aqua

}

.logo {
    background-color: blue
}

.menu {
 background-color: blueviolet
}

.education {
background-color: green
}

.education2 {
background-color: yellow
}

.education2_1 {
    background-color: greenyellow
    }

.education2_2 {
        background-color: darkorange
    }
.education2_3 {
        background-color: cornflowerblue
    }    
.education3 {
background-color: burlywood     
}

.education4 {
    background-color: fuchsia     
    }

.about {
        background-color: khaki      
    }

.footer {
        background-color: sienna    
    }