.wrapper {
    position: relative;
    width: 100%;
    max-width: 360px;
    height: 2000px;
    overflow: hidden;
    background-color: white;
    margin: auto;
          
}
.contacts {
    position: relative;
     width: 100%;
    max-width: 360px;
    height: 420px;
    color: black;
    background-image: url(../img/img_fon_header_adaptiv.png);
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 24px;
    overflow: hidden;
    color:  white;
}
.gradient_contact {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background: rgba(0, 0, 0, 0.4); 
        background-size: contain;

}
.kegl_13 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px; 
}
.kegl_m {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px; 
}
.menu {
    position: relative;
    z-index: 3;
    width: 26px;
    height: 10px;
}
.menu_line{ 
    width: 26px;
height: 2px;
color: white;
margin-top: 5px;
}
.romb {
    position: relative;
    z-index: 3;
    width: 250px;
    height: 250px;
    background:  #BACBDC;
    transform: rotate(45deg);
    margin-top: -150px;
    margin-left: 65px;
    position: absolute;
}
.logo_logo {
    position: relative;
    z-index: 4;
    font-family: 'Puritan', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.1em;
        color: black;
        
    }
.logo_contacts {
    width: 100%;
    max-width: 360px;
    
    position: relative;
    height: 175px;
}

.logo {
    display: flex;
    align-items: center;
    background-color: white;
    padding-top: 100px;
    margin-left: 50px;
}
.text_main {
    position: relative;
    z-index: 3;
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 21px;
font-size: 12px;
text-align: center;

}
.text_maim_pad {
    margin-bottom: 15px;
}
.text_maim_line {
    line-height: 30px;
}
.rombik_m {

        position: relative;
        width: 8px;
        height: 8px;
        background: #FFFFFF;
        transform: rotate(45deg);

}
.button {
    position: relative;
    z-index: 3;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
   width: 150px;
    height: 45px;
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
text-align: center;
border: 1px solid #FFFFFF;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }


.education2 {
        background-image: url(../img/img_sea_background.png);
        width: 100%;
        max-width: 360px;
        color: white;
        position: relative;
        bottom: 0;
        background-repeat: no-repeat;
    background-size: 100%;
   overflow: hidden;
}
.edu_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 475px;
    position: relative;
    z-index: 3;
}
.logo2_2 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    color: white;
    padding: 30px;
}
.education2_0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10%;
    margin-top: 2%;
    position: relative;
    z-index: 2;
}
.education_blok {
    background: rgba(0, 0, 0, 0.4);
    width: 300px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7%;
    margin: 3%;
}
.kegl_b {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
}
.rombik {
    position: relative;
    width: 11px;
    height: 11px;
    background: #FFFFFF;
    transform: rotate(45deg);
}
.education2_3 {
    background: rgba(0, 0, 0, 0.4);
    width: 300px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7%;
    padding-bottom: 17%;
    margin: 4%;
}    
.ballast {
    
}
.ar {
    margin-left: 5px;
}
.advanteges {
    position: relative;
    width: 100%;
    max-width: 360px;
    height: 925px;
    background: #112132;
    overflow: hidden;
}
.seryi_container {
    position: relative;
    width: 400px;
    height: 400px;
    background: #778798;
    transform: rotate(-45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.seryi_flex {
    position: absolute;
    transform: rotate(45deg);
    width: 303px;
    height: 303px; 
}

.kub3a_seryi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 303px;
    height: 303px; 
}

.tex_kub_seryi {
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 25px;
font-size: 18px;
text-align: center;
color: white;

}
.kub3a_bordo {
    position: relative;
    background-color: #432132;
    width: 310px;
    height: 310px; 

}
.kub_v_kube {
    position: absolute;
    width: 310px;
    height: 310px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: rotate(-45deg);
}
.kubik_vbordo {
    position: absolute;
    width: 45px;
    height: 45px;
    transform: rotate(0deg);
    background: #435465;
    margin: 5%;
}
.logo_vkube3a {
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
text-align: center;
position: relative;
margin-top: 5px;
color: white;
    
}
.bordo_container {
    
    transform: rotate(45deg);
    position: absolute;
}
.container_cabinet {
    position: relative;
    width: 600px;
    height: 600px;
    overflow: hidden;
    transform: rotate(-45deg);
}
.cabinet_foto {
    
    position: absolute;
    max-width: 100%;
    transform: rotate(45deg) scale(1.3);
    
}

.kub_vkube_nature {
    width: 80px;
    height: 80px;
    background-color: #112132;
    border: 3px solid #112132;
    position: absolute;
}
.container_student {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    transform: rotate(-45deg);
    
}
.kub_vkube_student {
    width: 55px;
    height: 55px;
    background-color: #112132;
    border: 3px solid #112132;
    position: absolute;
}
.student_foto {
    position: absolute;
    max-width: 100%;
    transform: rotate(45deg) scale(1.1);
    
}
.fon_slaider {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;  
    max-width: 360px;  
    min-height: 495px;
    height: 1px;
    background-image: url(../img/img_backgound_adaptiv.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.slaider_index {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    padding: 5px;
}
.gradient_slaider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(30, 30, 30, 0.8) 0%,
    rgba(16, 16, 16, 0) 54.14%, rgba(16, 16, 16, 0) 54.15%, 
    rgba(2, 2, 2, 0.6) 100%); 
    background-size: contain;   
}
.text_padding {
    padding: 50px;
    color: white;
}
.education4 {
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 14px;
text-align: center;                 
}

.slaider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 280px;
    height: 210px;
    background: rgba(0, 0, 0, 0.4);
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
line-height: 17px;
font-size: 12px;

color: white;
}
.slaider_text {
    width: 218px;
height: 154px;
  
}
.rombik_flex {
    z-index: 2;
    top: 200px;
    width: 35%;
    display: flex;
    justify-content: space-between;
    position: relative;

}
.rombik_border {
    position: relative;
    width: 11px;
    height: 11px;
    transform: rotate(45deg);
    border: 1px solid #FFFFFF;
box-sizing: border-box;
}
.container_slaider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 930px;
    
}
.container_strelka {
    position: absolute;
    width: 340px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
   
.text_bold {
    font-weight: bold;
    margin: 20px;
}
.text_normal {
    font-weight: normal;
}

.container_about {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;  
    max-width: 360px;   
    height: 480px;
    background-image: url(../img/img_footer_adaptiv.png);
    background-repeat: no-repeat;
    background-size: cover;
       

}
.about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 100%; 
}

.about1 {
    position: relative;
    top: -90px;
    left: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
}
.ikonki {
    position: relative;
    left: 45px;
    top: 75px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
.text_about {
    position: relative;
    top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about2 {
    position: relative;
    left: 45px;
    top: -20px;
    height: 90px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    font-size: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text_pad {
    padding-top: 15px;
}
.about_footer {
    position: relative;
    width: 100%;
    max-width: 1510px;
    min-height: 617px;
    height: 1px;
}
img.m {
    width: 100%; 
    height: auto; 
  }

.logo_text_about {
    font-family: 'Puritan', sans-serif;
    font-style: normal;
font-weight: normal;
line-height: 24px;
font-size: 18px;
letter-spacing: 0.1em;
color: white;
}
.logo_text_about2 {
    position: relative;
    top: 5px;
    font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 15px;
font-size: 14px;
color: white;
}

.footer {
    position: relative;
   
    width: 100%;  
    max-width: 360px;  
    min-height: 340px;
    height: 1px;
    background-image: url(../img/img_map_adaptiv.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.map {
    width: 100%;
    height: 100%;     
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    background-size: cover;
}
.footer_logo {
    position: relative;
    z-index: 2;
    font-family: 'Puritan', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 32px;
font-size: 24px;
letter-spacing: 0.1em;
color: #000000;
}
.footer_metka {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
        top: 190px;
    left: 160px;
}

.metka {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kryg {
    position: absolute;
    top: 44px;
}

@media (max-width: 1600px) and (min-width: 1450px) {
   
}

@media (max-width: 1300px) and (min-width: 1125px) {
    .contacts_text {width: 45%;}
}

@media (max-width: 1125px) and (min-width: 1000px) {
    .contacts_text {width: 50%;}
}

@media (max-width: 1100px) and (min-width: 875px) {
    .contacts_text {width: 55%;}
}

@media (max-width: 875px) and (min-width: 675px) {
    .contacts_text {
        width: 75%;
        margin: 30px;
    }
        
    .contacts {
        flex-direction: column;
    }
    .logo {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
    .about {
        width: 98%;
    }

    .text_about2 {
        font-size: 12px;
    }
    .about3 {
        font-size: 12px;
    }
    .text_about { padding-left: 10px; 
    }

    .slaider {
        width: 600px;
        font-size: 16px;
        }
       .container_strelka {
        width: 550px;
       }
       .slaider_text {
        width: 450px;
        height: 120px;
    }

}




@media (max-width: 675px) {
    .contacts_text {
        width: 100%;
        margin: 20px;
    }
        
    .contacts {
        flex-direction: column;
        font-size: 22px;
    }
    .menu_tab {
        width: 100%;
        
    }
    .menu {
        padding-left: 0;
        font-size: 14px;
    }
    .logo {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
    .it_left {
        text-align: center;

    }
    .about {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10%;
    }
    .about2 {
        margin: 5%;
    }
    .about3 {
        text-align: center;
        margin: 3%;
    }
    
    .education2_0 {
    flex-direction: column;
}

.slaider {
    width: 450px;
    font-size: 12px;
    }
   .container_strelka {
    width: 375px;
   }
   .slaider_text {
    width: 300px;
    height: 125px;
  }
  .education4 {
   font-size: 20px;
}
fon_slaider {
    background-image: none;
    background-color: #112132;
}
container_about {
        background-image: none;
        background-color:  #432132;
    }

}

@media (max-width: 1000px) and (min-width: 675px) {
    .menu_tab {
        width: 100%;
        }    
}

@media (max-width: 445px) {
        .contacts_text {
            width: 100%;
            margin: 20px;
        }
            
        .contacts {
            flex-direction: column;
            font-size: 14px;
        }
        .menu_tab {
            width: 100%;
            
        }
        .menu {
            padding-left: 0;
            font-size: 10px;
        }
        .logo {
            display: flex;
            justify-content: center;
            padding-left: 0;
        }
        .it_left {
            text-align: center;
    
        }
        
        .slaider {
            width: 300px;
            font-size: 10px;
            }
           .container_strelka {
            width: 275px;
           }
           .slaider_text {
            width: 250px;
            height: 150px;
          }
          .education4 {
           font-size: 16px;
        }
    .fon_slaider {
            background-image: none;
            background-color: #112132;
        }
    .footer {
        background-image: none;
    }
    .container_about {
        background-image: none;
        background-color:  #432132;
    }
}

    @media (max-width: 1000px) and (min-width: 875px) {
        .about {
            width: 97%
        }
        .text_about {
            padding-left: 15px;
        }

        .slaider {
        width: 800px;
        }
       .container_strelka {
        width: 700px;
       }
       .slaider_text {
        width: 550px;
        height: 125px;      
    }
}
