@font-face {
    font-family: Ubuntu;
    src: url(fonts/Ubuntu.ttf);
}

.wrapper {
    display:

    width: 100%;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red
}

.contacts {
    display: flex;
    width: 100%;
    color: black;
    background-color: aqua

}

.logo {
    display: flex;
    background-color: blue;
}

.menu {
    display: flex;
    background-color: blueviolet
}

.education {
    display: 
    background-color: green
}

.kub1 {
    display: 
    justify-content: center;
}
.kub1-fon {
    height: 480px;
    width: 480px;
    background-color: #BA9898;
    transform matrix(0.71, 0.67, -0.74, 0.71, 0,0)
}
.kub2-fon {
    height: 206.36px;
    width: 206.36px;
    background-color: #BACBDC;
    transform matrix(0.71, 0.67, -0.74, 0.71, 0,0)
}

.education2 {
        background-color: yellow;
        
}

.edu_center{
    text-align: center;
}
.education2_0 {
    display: flex;
    justify-content: space-around;
}

.education2_1 {
    background-color: greenyellow
}

.education2_2 {
    background-color: darkorange
}

.education2_3 {
    background-color: cornflowerblue
}    

.education3 {
background-color: burlywood  
}

.kub3_1 {
    text-align: center;
}

.kub3_2 {
    background-color: #432132;
}

.fon_slaider {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: fuchsia; 

}
.education4 {
            text-align: center;  
}

.slaider {
    display: flex;
    }

.slaider-text {
    width: 690px;
    height: 125px;
    text-align: center;
    background-color: blueviolet;

}

.about {
        background-color: khaki ;   
            display: flex;
            flex-direction: column;
            justify-content: space-around;  
}

.footer {
        background-color: sienna    
}