@font-face {
    font-family: Ubuntu;
    src: url(fonts/Ubuntu.ttf);
}

.wrapper {
    display: flex;

    width: 100%;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red
}

.contacts {
    display: flex;
    width: 100%;
    color: black;
    background-color: aqua

}

.logo {
    display: flex;
    align-items: center;
    background-color: blue
}

.menu {
    display: flex;
    background-color: blueviolet
}

.education {
    display: flex;
    background-color: green
}

.education2 {
    display: flex;
background-color: yellow
}

.education2_0{
    display: flex;
}
.education2_1 {

    background-color: greenyellow
    }

.education2_2 {
    background-color: darkorange
    }
.education2_3 {
    background-color: cornflowerblue
    }    

.education3 {
background-color: burlywood  
}

.kub3_1 {
    text-align: center;
}

.education4 {
    background-color: fuchsia     
    }

.slaider-text {
text-align: center;
}

}

.about {
        background-color: khaki      
    }

.footer {
        background-color: sienna    
    }